<div class="fondoadd"></div>
<img src="../../../assets/flag.png" class="Bandera" alt="">
<div class="cuadroadd">

    <!-- <h1 class="h1-strong">{{title}}</h1>
	<div class="alert alert-success" *ngIf="status == 'success'">
		Registro Completado Correctamente <a [routerLink] = "['/login']"> identificate aquí </a>
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		El registro no ha podido completarse, intentalo de nuevo
    </div> -->

    <label class="titleadd">Crear Un Nuevo Alumno</label>
    <input type="image" src="../../../assets/cerrar.png" class="btnclose"  (click)="backhome()">

    <form #registerForm="ngForm" (ngSubmit)="createUser()" class="col-lg-12">
        <p>
            <label class="addtext">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.nombre" class="form-control" required>
        </p>

        <p>
            <label class="addtext">Apellidos</label>
            <input class="addlabel" type="text" name="name" #name="ngModel" [(ngModel)]="user.apellidos" class="form-control" required>
        </p>

        <p>
            <label class="addtext">Edad</label>
            <input class="addlabel" type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.edad" class="form-control"
                required>
        </p>
        <p>
            <label class="addtext">Sexo</label>
            <input class="addlabel" type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.sexo" class="form-control"
                required>
        </p>
        <p>
            <label class="addtext">Dirección</label>
            <input class="addlabel" type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.direccion" class="form-control"
                required>
        </p>

        <div class="btn-group">
            <button type="button" class="btndropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Carreras
            </button>
            <div class="dropdown-menu" *ngIf="carreras">
                <p class="dropdown-item" *ngFor="let carrera of carreras" (click)="setCarrera(carrera.id)">{{carrera.nombre_carrera}}</p>
            </div>
        </div>
        <!-- <label>carrera</label>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" #lastName="ngModel" [(ngModel)]="user.carrera"  data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu">
                    <p class="dropdown-item" *ngIf="let carrera of carreras">{{carrera}}</p>

                </div>
            </div> -->
        <!-- <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.carrera" class="form-control"
                required> -->


        <input type="submit" value="Crear Alumno" class="btncrear">
    </form>

</div>