<div class="FondoLogin"></div>
    <img src="../../../assets/flag.png" class="Bandera" alt="">
    <div class="CuadroLogin Centrar">
    <form #loginForm="ngForm" (ngSubmit)="login()" class="col-lg-12">
       <label style="color:white; font-size: 50px;padding-bottom: 10px">Login</label>
        <p>
            <label style="color:white;">Usuario</label>
            <input type="text" name="username" #username="ngModel" [(ngModel)]="input.username" class="form-control" required>
        </p>
        <p>
            <label style="color:white;">Contraseña</label>
            <input type="password" name="passwordl" #password="ngModel" [(ngModel)]="input.password" class="form-control"
                required>
        </p>
        <input type="submit" value="Iniciar Sesion" name="" class="btncss" [disabled]="!loginForm.form.valid">
    </form>
</div>