.fondohome{
    width: 100%;
    min-height:100vh;
    position: fixed;
    background-image: url(../../../assets/fondo.jpg);
    z-index: -6;
}
.edittitle{
    font-size: 34px;
    font-weight: bold;
    color: white
}
.barraadd{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.btnedit{
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #007CFF;
    border-radius: 6px;
}
.btnedit:hover{
    background-color: #009BFF;
}
.btndelet{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: #FF0000;
    border-radius: 6px;
}
.btndelet:hover{
    background-color: #FF2525;
}
.searchbar{
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
}
.btnsearch{
    margin-left: 20px;
    background-color: #727272;
    border-radius: 6px;
}
.btnsearch:hover{
    background-color: #AFAFAF;
}
.btnadd{
    margin-left: 20px;
    background-color: #7EE700;
    border-radius: 6px;
}
.btnadd:hover{
    background-color: #8BFF00;
}
.texttitle{
    font-size: 46px;
    font-weight: bold;
    vertical-align: middle;
}
.labelstext{
    font-size: 26px;
    padding-right: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.editlabels{
    width: 80%;
    border-radius: 8px;
    padding: 5px;
}
.cardusers{
    margin: 10px;
    padding: 20px;
    width: 30%;
	text-align: center;
    border-radius: 20px;
    background-image: url(../../../assets/tarjeta.png);
}
.tablacards{
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.editcard{
    background-image: url(../../../assets/tarjeta2.png);
    border-radius: 20px;
    margin-top: 15px;
    position: fixed;
    left: 30%;right: 30%;
    top: 0;
    padding: 30px;
}
.edittext{
    color: white;
    margin-top: 10px;
}
.editlabel{
    border-radius: 8px;
    padding: 5px;
}
.btnclose{
    position: absolute;
    height: 30px;
    top: 3%;
    right: 3%;
}
.btnsave{
    margin-top: 20px;
    position: absolute;
    height: 50px;
    right: 5%;
}
.Bandera{
    width: 100px;
	position: absolute;
	right: 2%;top: 0;
}
.btnlogout{
    width: 100px;
    position: absolute;
    left: 2%;top: 0;
}
.btndropdown {
    margin-top: 20px;
  background-color: #666;
  color: white;
  padding: 15px;
  font-size: 16px;
    border-radius: 8px;
  border: none;
  cursor: pointer;
}
.btndropdown:hover {
  background-color: #888;
}
.imgadd{
    height: 50px;
}
@media(max-width:700px){
    .cardusers{
        width: 40%;
    }
    .Bandera{
        width: 80px;
    }
}
@media(max-width:500px){
    .texttitle{
        font-size: 36px;
        margin-left:20px;
    }
    .editcard{
        padding:10px;
        margin-top: 5px;
    }
    .edittitle{
        font-size: 20px;
    }
    .btnsave{
        height: 30px;
    }
    .btndropdown{
        padding: 5px;
    }
    .barraadd{
        text-align: initial;
    }
    .imgadd{
        height: 30px;
    }
    .cardusers{
        width: 75%;
    }
    .Bandera{
        width: 60px;
    }
    .editlabels{
        width: 65%;
    }
    .editcard{
        left: 5%;right: 5%;
    }
    .btnlogout{
        width: 70px;
        left: auto;
        right: 1%;top: 95px;
    }
}