<div class="fondohome"></div>
    <img src="../../../assets/flag.png" class="Bandera" alt="">
    <img src="../../../assets/logout.png" class="btnlogout" alt="" (click)="logout()">
    <img src="../../../assets/correo.png" class="btnmsn" alt="" (click)="createemail()">
    <div style="background: #0090F0;padding-top: 20px;padding-bottom: 30px;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;">
        <div class="barraadd">
            <label class="texttitle">Usuarios</label>
            <button class="btn btn-success mb-2" (click)="menucrear()" class="btnadd"><img src="../../../assets/add.png" class="imgadd" alt=""></button>
        </div>
        <form #searchForm="ngForm" class="form-inline" (ngSubmit)="filtrar()">
            <label for="inputPassword2" class="labelstext">Buscar alumno</label>
            <div class="searchbar">
                <input type="text" class="editlabels" id="inputPassword2" #name="ngModel" [(ngModel)]="busqueda" [ngModelOptions]="{standalone: true}"required placeholder="Nombre / Carrera / Edad">
                <button type="submit" class="btnsearch"><img src="../../../assets/lupa.png" style="height: 30px;" alt=""></button>
            </div>
        </form>
    </div>
    <div *ngIf="users">
        <div class="tablacards" >
            <div class="cardusers" *ngFor="let user of users">
                <h5 class="card-title" style="color: white">{{user.nombre}} {{user.apellidos}}</h5>
                <h6 class="card-text" style="color: white;font-weight: bold">{{user.carrera}}</h6>
                <p class="card-subtitle mb-2" style="color: white">Dirección: {{user.direccion}}</p>
                <p class="card-subtitle mb-2" style="color: white">Edad: {{user.edad}}</p>
                <button type="button" class="btnedit" (click)="editUser(user.id)"><img src="../../../assets/editar.png" style="height: 40px;" alt=""></button>
                <button type="button" class="btndelet" (click)="deleteUser(user.id)"><img src="../../../assets/borrar.png" style="height: 40px;" alt=""></button>
            </div>
        </div>
    </div>
    <div *ngIf="msn == 'true' ">
        <div class="editcard">
            <form (ngSubmit)="sendmail()" class="col-lg-12">
                <input type="image" src="../../../assets/cerrar.png" class="btnclose"  (click)="closeemail()">
                <p><label class="edittitle">Enviar un correo</label></p>
                <label class="edittext">Asunto</label>
                <input  type="text" class="editlabel" #name="ngModel" [(ngModel)]="asunto" [ngModelOptions]="{standalone: true}"required class="form-control" required>
                <label class="edittext">Destinatario</label>
                <input  type="text" class="editlabel" #name="ngModel" [(ngModel)]="correo" [ngModelOptions]="{standalone: true}"required class="form-control" required>
                <label class="edittext">Mensaje</label>
                <textarea type="text" #name="ngModel" [(ngModel)]="mensaje" [ngModelOptions]="{standalone: true}"required class="form-control" style="height: 100px" required></textarea>
                <input type="image" src="../../../assets/enviar.png" class="btnsend">
            </form>
        </div>
    </div>

    <div *ngIf="edit == 'true' && user">
           <div class="editcard">
            <label class="edittitle">Editar Alumno</label>
            <input type="image" src="../../../assets/cerrar.png" class="btnclose"  (click)="closeEdit()">
            <form #editForm="ngForm" (ngSubmit)="editNow()" class="col-lg-12">
                    <label class="edittext">Nombre</label>
                    <input class="editlabel" type="text" name="nombre" placeholder="" #nombre="ngModel" [(ngModel)]="user.nombre" class="form-control"
                        required>
                    <label class="edittext">Apellidos</label>
                    <input class="editlabel" type="text" name="apellido" #apellido="ngModel" [(ngModel)]="user.apellidos" class="form-control" required>
                    <label class="edittext">Edad</label>
                    <input class="editlabel" type="text" name="edad" #edad="ngModel" [(ngModel)]="user.edad" class="form-control"
                        required>
                    <label class="edittext">Sexo</label>
                    <input class="editlabel" type="text" name="sexo" #sexo="ngModel" [(ngModel)]="user.sexo" class="form-control"
                        required>
                    <label class="edittext">Dirección</label>
                    <input class="editlabel" type="text" name="direccion" #direccion="ngModel" [(ngModel)]="user.direccion" class="form-control"
                        required>
                    <button type="button" class="btndropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Carreras
                    </button>
                    <div class="dropdown-menu" *ngIf="carreras">
                        <p class="dropdown-item" *ngFor="let carrera of carreras" (click)="setCarrera(carrera.id)">{{carrera.nombre_carrera}}</p>
                    </div>
                    <input type="image" src="../../../assets/diskette.png" class="btnsave">
            </form>
            </div>
        </div>
